.table-header-bar {
  display: flex;
  height: 28px;
  width: 1596px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: #EEF5FF;
  padding: 0;
  border-radius: 6px;
  margin-bottom: 8px;
}

.table-header-title {
  overflow: hidden;
  color: var(--Black-Black-900, #082029);
  text-overflow: ellipsis;
  font-family: Archivo, Arial, sans-serif;
  font-size: var(--Font-Size-Subtitle-1, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Line-Height-Subtitle-1, 22px);
}

.table-header-actions {
  display: flex;
  gap: 8px;
}

.table-header-btn {
  display: flex;
  padding: var(--Custom-Spacings-button-ht-pd, 6px) var(--Custom-Spacings-button-spacing, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--Padding-p-1, 4px);
  border-radius: var(--Border-Radius-rounded-md, 6px);
  border: 1px solid var(--Teal-Teal-850, #006170);
  background: var(--Teal-Teal-850, #006170);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
}

.table-header-btn.add {
  background: #047E90;
  color: #fff;
}
