/* Table row base styles */
.table-row {
  border-radius: var(--Border-Radius-rounded-md, 6px);
  background: var(--Grey-Grey-50, #fff);
  color: #111827;
  height: 28px;
  /* width: 100%; */
  min-width: 0;
  border: 1px solid transparent;
  margin-bottom: 4px;
}

/* Table row hover styles */
.table-row:hover {
  border-radius: 6px;
  border: 1px solid var(--Turquoise-Turquoise-400, #d2eeee);
  background: var(--Turquoise-Turquoise-200, #e8f9f9);
}

/* Table cell base styles */
.table-cell {
  color: var(--Black-Black-900, #082029);
  font-family: Roboto, Arial, sans-serif;
  font-size: var(--Font-Size-text-base, 12px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Line-Height-text-base, 16px);
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
